<footer class="c-bg-color pt-3">
    <div class="container h-100">
        <div class="align-items-center justify-content-center h-100">

            <div class="col-12 justify-content-center align-items-center pt-5 d-flex">
                <img src="/img/modules_img/warranty.png" alt="warranty" style="height:100px; width:100px"/>
            </div>
            <h1 class="text-center col-12 pt-2 display-3 function-color">IT-компания PROD-2020 год.</h1>
            <address class="text-center col-12 display-4">Адрес: г.Москва, ул. Генерала Белова 6.</address>
            <address class="text-center col-12 display-4">Телефон: 8 (999) 888-77-66</address>
        </div>
    </div>
</footer>