<div class="col"> 
    <div class="col-12">
        <h1 class="display-1 text-white text-center">Спасибо за заказ!!!</h1>
        <p class="text-white code-style text-center">Состояние своего заказа Вы можете отслеживать в своём профиле.</p>
    </div>
    
    <div class="col">
        <button class="btn c-bt-color col-12" onclick="location.href='/'">Вернутся на главную</button>
        <button class="btn c-bt-color col-12" onclick="location.href='/profile'">Перейти в профиль</button>
    </div>
</div>