<div class="col row">
    <label for="DevOrderName" class="text-white">Укажите общее название вашего заказа:</label>
    <input type="text" id="DevOrderName" class="form-control border-secondary">
</div>

<div class="col mt-3 row">
    <label for="DevOrderText" class="text-white">Введите описание того, что выхотите видеть:</label>
    <textarea cols="30" rows="10" id="DevOrderText" class="form-control border-secondary"></textarea>
</div>

<div class="col-12 mt-3 row">
        <label for="selectPr" class="text-white">Выберите язык, на котором будет написан модуль:</label>
        <select name="" id="selectPr" class="form-control border-secondary">
            <option value="" hidden></option>
            <%pl.forEach(element => {%>
                <%if(element.pl_name!=="HTML" && element.pl_name!=="CSS"){%>
                <option value="<%=element.pl_expansion%>"><%=element.pl_name%></option>
                <%}%>
            <%})%>
        </select>
    </div>

    <div class="col-12 my-4 ml-1 row">
        <input type="checkbox" name="" id="checkIt" class="form-check-input"><label for="checkIt" class="form-check-label text-white">Использовать фреймворки</label> 
    </div>

    <div class="col-12 mt-3 row">
        <label for="pagesCount" class="text-white">Количество страниц модуля</label>
        <select id="pagesCount" class="form-control">
            <option value="" hidden></option>
            <option value="0">1</option>
            <option value="1">2</option>
            <option value="2">3</option>
            <option value="3">4</option>
            <option value="4">5</option>
        </select>
    </div>

<div class="col mb-4 mt-0 row justify-content-end">
    <span class="display-4 text-white">}</span>
    <button class="btn mt-4 col-12 border border-secondary py-4 c-bt-color text-white" id='Calculate'>Рассчитать...</button>
</div> 

<script>$("input, select, textarea").focus(function(){$(this).removeClass("border-danger")})</script>