<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Вопросы и ответы, а также связь с технической поддержкой нашего сайта при вознекновении каких-ибо проблем."/>
    <meta name="keywords" content="поддержка, FaQ, вопросы, ответы"/>
    <title>Тех. поддержка</title>
    <%-include("templates/linkscript.html")%>
    
</head>
<body>
    <%-include("templates/header.html")%>
    <section id="offers-table" class="c-bg-color2 h-70vh">
        <div class="container">
            <div class="col-12 py-5 row align-items-center">
                <div class="col-12">
                    <h1 class="text-white text-weight-light text-wrap display-4 pb-5">IT-Компания_PROD.<span class="function-color">get_QA</span>()</h1>
                    <p class="text-white code-style col-7">qa_block.<span class="argument-color">innerHTML</span>=<span class="string-color">"На данной страницы вы можете увидеть наиболее задаваемые вопросы, 
                        а также связаться с тех-поддержккой при возникновении проблем, 
                        или в том случае, если вы не нашли ответ на желаемый вопрос."</span>;</p>
                    <p class="my-5 p-4 border border-light text-white"><span class="terminal-color">-- help;<br>  ...<br> 00001110001011000010111100001110001011100010111000001110001011110001101000001110001011110001101100001110001011100001100100001110001011100001101100001110001011110010110000001110001011110001101100001110001011100001111000010100000011100010111000101111000011100010111100101111000011100010111100011011000011100010111100101100</span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="faq">
        <div class="container-fluid c-bg-color pb-5">
            <div class="col py-5 ">
                <div class="col">
                    <h1 class="text-center text-white display-4">FaQ</h1>
                </div>
    
                <div class="row">
                    <div class="col-lg-3 col-12 mt-5">
                        <div class="col mb-5 border-bottom">
                            <h2 class="text-center function-color font-weight-light pb-1">Q_id:1</h2>
                        </div>

                        <div class="col c-bg-color px-4 py-3 rounded border border-white">
                            <h4 class="text-white"><span class="argument-color">Answ</span>.(Как мне заказать услугу?);</h4>
                        </div>

                        <div class="col px-4 py-5 c-bg-color-light rounded-bottom">
                            <p class="text-white code-style">Для этого вам необходимо перейти во вкладу услуги и выбрать тот тип услуги, который Вы бы желали получить. Далее вы сможете настроить свой заказ.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12 mt-5">
                        <div class="col mb-5 border-bottom">
                            <h2 class="text-center function-color font-weight-light pb-1">Q_id:2</h2>
                        </div>

                        <div class="col c-bg-color px-4 py-3 rounded border border-white">
                            <h4 class="text-white"><span class="argument-color">Answ</span>.(Как долго идёт работа?);</h4>
                        </div>

                        <div class="col px-4 py-5 c-bg-color-light rounded-bottom">
                            <p class="text-white code-style">Для этого вам необходимо перейти во вкладу услуги и выбрать тот тип услуги, который Вы бы желали получить. Далее вы сможете настроить свой заказ.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12 mt-5">
                        <div class="col mb-5 border-bottom">
                            <h2 class="text-center function-color font-weight-light pb-1">Q_id:3</h2>
                        </div>

                        <div class="col c-bg-color px-4 py-3 rounded border border-white">
                            <h4 class="text-white"><span class="argument-color">Answ</span>.(Я буду доволен?);</h4>
                        </div>

                        <div class="col px-4 py-5 c-bg-color-light rounded-bottom">
                            <p class="text-white code-style">Для этого вам необходимо перейти во вкладу услуги и выбрать тот тип услуги, который Вы бы желали получить. Далее вы сможете настроить свой заказ.</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-12 mt-5">
                        <div class="col mb-5 border-bottom">
                            <h2 class="text-center function-color font-weight-light pb-1">Q_id:1</h2>
                        </div>

                        <div class="col c-bg-color px-4 py-3 rounded border border-white">
                            <h4 class="text-white"><span class="argument-color">Answ</span>.(Как мне заказать услугу?);</h4>
                        </div>

                        <div class="col px-4 py-5 c-bg-color-light rounded-bottom">
                            <p class="text-white code-style">Для этого вам необходимо перейти во вкладу услуги и выбрать тот тип услуги, который Вы бы желали получить. Далее вы сможете настроить свой заказ.</p>
                        </div>
                    </div>

          
        
                </div>
            </div>
        </div>
    </section>
    
    <section id="support" class="py-5 c-bg-color3 h-110vh">
        <div class="container h-100" id="mail-block">
            <div class="col-fluid p-5 mt-5 mb-1 rounded">
                <h1 class="text-center text-white display-4"><span class="function-color">DO function Техническая_поддержка</span>(){</h1>
            </div>

            <div class="col mt-1 mb-5">
                <div class="col-12 mb-2 row justify-content-start">
                    <label for="suppEmail" class="text-white">/*Почта*/</label>
                    <input id="suppEmail" class="form-control text-white c-bg-color4 border-secondary" type="text" placeholder="exampl@qwert.com">
                </div>

                <div class="col-12 mb-2 row justify-content-start">
                    <label for="suppReason" class="text-white">/*Выберите проблему*/</label>
                    <select id="suppReason" class="form-control c-bg-color4 text-white border-secondary">
                        <option value="0"  hidden>...</option>
                        <option value="Проблема с проектом" class="text-white">Проблема с проектом</option>
                        <option value="Проблема с сайтом" class="text-white">Проблема с сайтом</option>
                        <option value="Проблема с вами" class="text-white">Проблема с вами</option>
                        <option value="Другое..." class="text-white">Другое...</option>
                    </select>
                </div>

                <div class="col-12 mb-1 row justify-content-start">
                    <label for="suppText" class="text-white">/*Опишите проблему*/</label>
                    <textarea id="suppText" id="" cols="30" rows="10" class="form-control c-bg-color4 text-white border-secondary" placeholder="Текст..."></textarea>
                </div>

                <div class="col-12 row justify-content-end">
                    <span class="display-4 text-white">}</span><br>
                    <button class="btn c-bt-color py-4 mt-4 col-12" id="supportbtn">Отправить</button>
                </div>
            </div>
        </div>
    </section>

    <%-include("templates/footer.html")%>
</body>
</html>